{% extends 'currency_exchange/layout.html' %}
{% load crispy_forms_tags %}
{% block head %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'currency_monitor/css/plot.css' %}">
    <script src="{% static "currency_monitor/js/currency_exchange.js" %}"></script>
{% endblock %}
{% block content %}
    <div class="content-section">
        <form method="post">
            {% csrf_token %}
            <fieldset class="form-group">
                {{ form|crispy }}
            </fieldset>
        </form>

    </div>

{% endblock %}