<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    {% if title %}
        <title>{{ title }}</title>
    {% else %}
        <title>CurrencyMonitor</title>
    {% endif %}
    <link rel="stylesheet" href="{% static 'currency_monitor/css/navbar.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="{% static "currency_monitor/js/csrf_token.js" %}"></script>

    {% block head %}
    {% endblock %}

</head>

<body>
<div class="area"></div>
<nav class="main-menu">
    <ul>
        <li>
            <a href="{% url 'home' %}">
                <i class="fa fa-home fa-2x"></i>
                <span class="nav-text">
                           Home
                        </span>
            </a>
        </li>
    </ul>
    <ul>
        <li>
            <a href="{% url 'calculator' %}">
                <i class="fa fa-laptop fa-2x"></i>
                <span class="nav-text">
                           Calculator
                        </span>
            </a>
        </li>
    </ul>
    {% for currency in currencies %}
        <ul>
            <li>
                <a href="{% url 'currency_details' currency.slug %}">
                    <i class="fa fa-bar-chart-o fa-2x"></i>
                    <span class="nav-text">
                           {{ currency.code }}
                        </span>
                </a>
            </li>
        </ul>


    {% endfor %}
</nav>

<div id="messages">
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
</div>

{% block content %}
{% endblock %}

</body>
</html>